.base {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.base:hover {
    background-color: var(--secondary-hover);
    transition: 0.3s;
}

.index {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    width: 80px;
    height: 100%;
}

.flagImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.officialName {
    width: 50%;
    min-width: 200px;
}

.commonName {
    width: 25%;
    min-width: 100px;
}