.box {
    display: flex;
    flex: 1;
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 5px;
    height: 100%;
    background-color: var(--init-white);
    color: var(--init-black)
}